/* ini: Preloader */
#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #ffffff;/*#F27620; /* cor do background que vai ocupar o body */
  z-index: 999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
  position: absolute;
  top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  transform: translate(-50%, -50%);  
}
/* end: Preloader */
.clima-app {
  background-size: cover;
  background-attachment: fixed;
  /*background-color: #ffff;*/
  background-repeat: no-repeat;
}
.info {
  /*width: 20rem;
  background-color: #f0e6e9;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 1.25rem;*/
  min-width: 18rem;
  box-shadow: 1px 1px 35px #212529;
  /*opacity: 0.8;*/
  background-color: rgb(97 97 105 / 50%);
  border: 1px solid rgb(0 0 0 / 10%);
}
.cidade {
  text-transform: uppercase;
}
.descricao {
  text-transform: capitalize;
}
footer {
  /*background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 10px 0;*/
  position: absolute;
  /*line-height: 4;*/
  bottom: 0;
  width: 100%;
}